body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.main-window {
	background-color: #f8f8f8;
}

.background {
	background-image: url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}